* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #222;
  line-height: 1.6;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(176, 186, 209, 1) 100%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;

}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 8%;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #6b4ce6;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #444;
}

.auth-buttons a {
  margin-left: 15px;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.login {
  border: 1px solid #555;
  color: #444;
}

.signup {
  background: #6b4ce6;
  color: #fff;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 8%;
  gap: 32px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  margin: 10px 0 18px;
  font-weight: bold;
}

.small-txt {
  color: #666;
  font-size: 17px;
}

.features {
  margin: 15px 0;
  list-style: none;
  font-size: 16px;
}

.feature-btn {
  display: inline-block;
  margin-top: 18px;
  padding: 12px 22px;
  background: #111;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
}

.hero-gallery {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.hero-gallery img {
  width: 100%;
  border-radius: 12px;
}

/* FEATURED EVENTS */
.events-section {
  padding: 60px 8%;
}

.events-section h2 {
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  color: #555;
  margin-bottom: 32px;
}

.event-container {
  display: flex;
  gap: 24px;
}

.event-card {
  width: 30%;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.event-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

.event-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.date {
  font-size: 14px;
  margin-bottom: 12px;
  color: #777;
}

.add-event-btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background: #111;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
}